<head>
	<title>Simple Layout</title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/lsc_api/lsc_chat.js"></script>
	<script src="/js/default.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
	<h1>Lea Simple Chat</h1>
	<p>
		Select a username
	</p>
	<div class="start">
		<input type="text" id="lsc_username" />
		<input type="submit" value="Enter chat!" id="lsc_submit" onclick="login()">
	</div>
	<div class="chat" style="display:none;">
		<ul>
		</ul>
		<textarea id="msg"></textarea>
		<input type="submit" id="lsc_sendMsg" />
	</div>
	<script type="text/javascript">
		$('#lsc_sendMsg').click(function() {
			var message = $("#msg").val();
			 $("#msg").val(' ');
			socket.emit("message", message);
		});
	</script>
</body>